.title-group {
  border-bottom: none;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}
.title-group:hover {
  background-color: rgb(237, 243, 248);
}
.title-group span {
  margin: 0 5px;
}
.title-group p {
  text-transform: uppercase;
  cursor: pointer;
}
.wrap-groups li {
  border: 1px solid rgb(153, 151, 151);
  border-bottom: none;
}
.wrap-groups li:last-child {
  border: 1px solid rgb(153, 151, 151);
}
.title-group .back-icon {
  padding: 5px;
  border-radius: 50%;
}
.title-group:hover .back-icon {
  background-color: #4fa6ee;
}
