.component-ledge {
  overflow-y: auto;
  height: calc(100vh - 50px - 65px);
}
.lesson {
  background-color: white;
  padding: 20px;
  line-height: 30px;
  width: 500px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.lesson:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.4s;
}
.lesson h3 {
  margin: 0;
  font-weight: 500;
}
.lessons {
  display: flex;
  justify-content: center;
}
.lesson p {
  cursor: pointer;
}
.list-lesson {
  flex-wrap: wrap;
  width: 1160px;
}
