body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(247, 244, 247); */
  background-color: #f0f2f5;
  overflow: hidden;
}
main {
  overflow-y: auto;
  height: calc(100vh - 65px - 50px);
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
  cursor: default;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.flex {
  display: flex;
}
.block {
  display: block;
}
.bold {
  font-weight: 600;
}
.none {
  display: none;
}
button {
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
