.header-content {
  position: relative;
  justify-content: center;
  display: flex;
}
.header {
  background-color: #001529;
  height: 65px;
  width: 100vw;
  justify-content: space-between;
}
footer {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 50px;
  background-color: white;
  top: calc(100vh - 50px);
  width: 100vw;
}
.footer {
  display: block;
  line-height: 50px;
}
.footer span {
  margin: 0 5px;
  align-items: center;
  align-content: center;
  line-height: 50px;
}
.copyright {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 5px;
}
.footer a {
  color: #299af6;
}
.left-header,
.right-header {
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}
.menu-header {
  /* background-color: #299af6; */
  height: 65px;
  line-height: 60px;
}
.left-header a {
  color: rgb(175, 174, 174);
  font-size: 14px;
  padding: 0 25px;
  line-height: 65px;
}
.left-header a:hover {
  background-color: #299af6;
  color: white;
  transition: background 0.3s, color 0.3s;
}
.left-header img {
  width: 6%;
  margin-right: 10px;
}
.right-header button {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  margin-left: 20px;
  background-color: #299af6;
  opacity: 0.9;
}
.right-header button:hover {
  opacity: 1;
  transform: opacity 0.3s;
}
.right-header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 8px;
}
.right-header p {
  line-height: 35px;
  color: white;
  font-size: 12px;
  cursor: pointer;
  padding-right: 8px;
}
.right-header > div {
  align-items: center;
  cursor: pointer;
  padding: 3px;
  margin: 0 10px;
  border-radius: 20px;
  transition: background-color 0.5s;
}
.right-header > div:hover {
  background-color: #154c79;
  transition: background-color 0.3s;
}
.right-header {
  position: relative;
}

.right-header .box-logout {
  display: none;
  position: absolute;
  left: 125px;
  top: 53px;
  width: 180px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}
.user-info:hover .box-logout {
  display: block;
}
.box-logout > div {
  /* margin: 0 10px; */
  border-bottom: 1px solid rgb(241, 235, 235);
}
.box-logout > div:hover {
  background-color: #deecfb;
  border-radius: 10px;
}
.box-logout p {
  color: black;
  line-height: 35px;
}
.box-logout .icon-logout,
.box-logout .icon-setting {
  height: 35px;
  padding: 0 5px 0 15px;
}

main {
  max-width: 100vw;
}
.box-login {
  padding: 25px;
  width: 500px;
  height: 250px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 100px;
  background-color: white;
}
.bar-login {
  justify-content: space-between;
  padding-bottom: 10px;
}
.choie-login {
  padding: 20px 0 10px 0;
  display: block;
  border: 1px solid rgb(225, 225, 225);
  border-left: none;
  border-right: none;
}
.choie-login > p,
.dont-show p {
  font-size: 13px;
  text-align: center;
}
.choie-login .btn-gg,
.choie-login .btn-face {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.choie-login .btn-face button {
  background-color: #3b5998;
  border: none;
  color: white;
  font-size: 14px;
  flex: left;
  line-height: 37px;
}
.btn-face span {
  position: relative;
}
.btn-face button svg {
  position: absolute;
  left: -32px;
  top: 7px;
}

.choie-login .btn-face {
  background-color: #3b5998;
  border-radius: 5px;
  height: 40px;
  width: 213px;
  margin: auto;
}
.choie-login .icon-gg,
.choie-login .icon-face {
  margin-right: 5px;
  font-size: 20px;
  position: absolute;
  left: 15px;
}

.dont-show {
  margin-top: 10px;
  margin-bottom: 0;
}
.dont-show input {
  width: 15px;
  height: 15px;
}
.btn-close {
  display: flex;
  justify-content: right;
}
.footer-setting .btn-close button,
.box-login .btn-close button {
  padding: 7px 20px;
  border: none;
  border-radius: 2px;
  margin-top: 15px;
  color: white;
  font-size: 14px;
  background-color: #299af6;
  opacity: 0.9;
  transition: opacity 0.3s;
}
.footer-setting .btn-close button {
  width: 110px;
  line-height: 22px;
  margin-right: 15px;
  margin-top: 10px;
}
.footer-setting .btn-close button,
.box-login .btn-close button:hover,
.choie-login button:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.box-setting-user {
  position: absolute;
  z-index: 1001;
  background-color: white;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  top: 80px;
}
.header-setting {
  background-color: #ffeee8;
}
.box-setting-user .icon-setting {
  margin: auto 5px auto 20px;
  font-size: 20px;
  display: block;
}
.content-setting {
  height: 380px;
  border-bottom: 1px solid rgb(241, 235, 235);
}
.info-user {
  width: 300px;
  border-right: 1px solid rgb(241, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.change-info {
  width: 500px;
}
.info-user img {
  width: 200px;
  height: 200px;
  margin: 15px auto;
  display: block;
  border-radius: 50%;
}
.info-user p {
  font-size: 20px;
  text-align: center;
}
.change-info h4 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 500;
}
.change-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.change-detail div {
  margin: 30px;
}
.change-detail p {
  width: 100px;
}
.change-detail input {
  margin-left: 10px;
  line-height: 20px;
  width: 300px;
  border: none;
  outline: 1px solid rgb(241, 235, 235);
  outline-offset: 10px;
}
