.wrap-list-question {
  width: calc(100vw -20px);
}
.wrap-question {
  padding: 10px 20px;
  max-width: 1220px;
  margin: 20px auto;
  display: block;
  background-color: white;
}
.wrap-question h5 {
  cursor: default;
}
.wrap-question p {
  cursor: pointer;
  display: contents;
}
.wrap-list-question .img-illustration img {
  margin-top: 10px;
  width: 500px;
}
.question-infor {
  border-bottom: 1px solid rgb(234, 232, 232);
  padding-top: 10px;
}
.question-infor > div {
  padding-bottom: 10px;
}
.question-infor h5 {
  margin: 10px 0 0 0;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  display: contents;
}
.answer-infor input {
  cursor: pointer;
  width: 20px;
  margin-right: 5px;
}
.answer-infor p::first-letter,
.question-infor h5::first-letter {
  text-transform: uppercase;
}
.answer-infor li {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(234, 232, 232);
}
.answer-infor li span {
  display: contents;
}
.answer-infor li:hover {
  background-color: rgb(237, 243, 248);
}
.answer-active {
  color: #299af6;
}
.btn-show button {
  margin-top: 10px;
  padding: 7px 20px;
  background-color: white;
  border: 1px solid rgb(225, 225, 225);
  color: black;
  transition: color 0.3s, border 0.3s;
}
.btn-show button:hover {
  color: #299af6;
  border: 1px solid #299af6;
  transition: color 0.3s, border 0.3s;
}
.btn-submit-complete button {
  margin: -10px 0 40px 150px;
}
.btn-submit-complete {
  /* background-color: rebeccapurple; */
  margin: 0;
}
.screen-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-score {
  padding: 25px;
  width: 450px;
  height: 250px;
  background-image: url("../../data/png/winner.png");
  border-radius: 20px;
  position: relative;
}
.box-score p,
.box-score button,
.box-score h3 {
  text-align: center;
  color: #299af6;
}
.box-score p {
  font-size: 25px;
  font-weight: 500;
}
.box-score h3 {
  font-size: 70px;
  margin: 35px 0;
}
.box-score button {
  border: none;
  background-color: #299af6;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 10px;
  display: block;
  margin: auto;
  opacity: 0.9;
}
.box-score button:hover {
  opacity: 1;
  transition: opacity 0.3s;
}
.header-setting .icon-close,
.box-score .icon-close,
.bar-login .icon-close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 22px;
  margin: 0;
  float: right;
  padding: 3px;
  border-radius: 50%;
  color: black;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}
.header-setting .icon-close:hover,
.box-score .icon-close:hover,
.bar-login .icon-close:hover {
  background-color: #299af6;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}
.answer-infor .correct-answer {
  background-color: rgb(46 171 46 / 50%) !important;
}
.answer-infor .wrong-answer {
  background-color: rgba(255, 0, 0, 0.51) !important;
}
.disable {
  cursor: default;
  pointer-events: none;
}
.green {
  color: #52c41a !important;
}
.totaltimes {
  color: #faad14;
  line-height: 20px;
  display: flex;
  margin-right: 10px;
}
.totaltimes .dots {
  height: 20px;
  display: block;
}
